### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### NPM
node_modules
dist
system/lerna-debug\.log
*.tgz

node_modules/
lerna-debug.log
npm-debug.log
lib
.idea
*.vsix

azdevops/**/*.js
!azdevops/imports/**/*.js
/.vs
.env
/.devcontainer