### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### NPM
node_modules
dist
# Only root should have package-lock.json with npm workspaces
*/package-lock.json
ingredient/*/package-lock.json
system/lerna-debug\.log
*.tgz

node_modules/
.npmrc
lerna-debug.log
npm-debug.log
lib
.idea
*.vsix
test/app.spec.ts

!tests/fixtures/node_modules/
!tests/fixtures/node_modules/**
!tests/fixtures/fallback/node_modules/
!tests/fixtures/fallback/node_modules/**
!tests/fixtures/recipes/node_modules/
!tests/fixtures/recipes/node_modules/**

azdevops/**/*.js
!azdevops/imports/**/*.js
/.vs
.env
/.devcontainer
/_ReSharper.Caches
.nyc_output/

coverage/
