registry=https://registry.npmjs.org/
//registry.npmjs.org/:username=csperbeckhchb
//registry.npmjs.org/:_password="ZzJvY3llWmZEQTVAVGNzaDVmJGQleCFORmMhSFloaCQ="
//registry.npmjs.org/:email=csperbeckhchb
//registry.npmjs.org/:always-auth=true
